# Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset

In [22]:
 dataset = pd.read_csv('F:\\Data Science\\Git hub projects\\Multi Linear Regression\\50_Startups.csv')

In [23]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

 # Convert the column into categorical columns

In [24]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

# Convert the column into categorical columns

In [25]:
states=pd.get_dummies(X['State'],drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

# Drop the state coulmn

In [26]:
X=X.drop('State',axis=1)

# concat the dummy variables

In [27]:
X=pd.concat([X,states],axis=1)

In [28]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

# Splitting the dataset into the Training set and Test set

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Fitting Multiple Linear Regression to the Training set

In [32]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()

In [34]:
regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

# Predicting the Test set results

In [35]:
y_pred=regression.predict(X_test)

In [37]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [38]:
score

0.93470684732824227